<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weekly Playlist</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if logged_in? %>

    <div class="log-in">
      <p><%= current_user['email'] %></p>

      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="button">LOG OUT</button>
      </form>      
    </div>

    <nav>
      <a class="left" href="/votes">VOTE</a>
      <a class="left" href="/">SEARCH</a>

      <% if current_user['admin'] == 't' %>
        <a class="left" href="/playlist/new">PREPARE WEEKLY PLAYLIST</a>          
        <a class="left" href="/playlist">SHOW PLAYLIST</a>          
      <% end %>
    </nav>

  <% else %>
  
    <div class="log-in">
      <a class="link-as-btn" href="/login">LOG IN</a>
      <a class="link-as-btn" href="/sign_up">SIGN UP</a>
    </div>

  <% end %>


  <%= yield %>

</body>
</html>
