<div class="form-container">
    <%= @error %>
    <form class="form" action="/forgot_password" method="post">
        <input type="text" name="email" id="">
        <button class="link-as-btn" type="submit">SEND</button>
    </form>
</div>