<%= @error %>
<form action="/login" method="post">
    <input type="text" name="email" id="">
    <input type="password" name="password" id="">
    <a href="/forgot_password">Forgot Password?</a>
    <button type="submit">LOG IN</button>
</form>