<div class="form-container">
    <%=@error%>
    <form class="form" action="/reset_password/<%=@email%>" method="post">
        <label><%=@email%></label>
            
        <input type="password" name="password" id="">
        <input type="password" name="repeat_password" id="">
        <button class="link-as-btn" type="submit">RESET</button>
    </form>
</div>